%table
  %tr
    %th Common Name
    %th Options
  - @organisms.each do |organism|
    %tr
      %td= link_to organism.name, organism
      %td
        = link_to "Edit", edit_organism_path(:id => organism.id)