form
  +blueprint-form
  
  .fieldWithErrors
    :display inline
    input
      :border 1px solid $accent-color
      
  #errorExplanation
    :border 1px solid $accent-color
    :padding 0.5em
    :margin 12px 0
    :background-color #faf5f7

    h2
      :color $accent-color
      
  fieldset
    :border none
    :margin 0
    :padding 0
  label, input
    :display block
    :font-weight normal
  
  #lifespan_value, #adult_weight_value, #birth_weight_value
    display: inline
    
  legend
    :display none
  input
    :margin-bottom 1.5em !important
    
  .field_divider
    :border-top 1px solid lighten(desaturate($accent-color, 30%), 30%)
    :color $accent-color
    :margin 25px 0 10px 0
    :width 312px

    span
      :position relative
      :top -6px
      :padding .5em
      :background-color $background-color




  