#species
  :margin-bottom 1em

// Species table headers  
table#taxa, table#species
  :width auto
  thead
    th
      :background-color #ffffff
  td.actions
    div
      :display block
      :float left

// Form specific view changes.
.imr, .mrdt
  :float left
.longevity
  :clear both

#species_age_initial_mortality_rate
  :width 190px
  :margin-right 10px
  
#species_age_mortality_rate_doubling_time
  :width 100px
  
table#taxatable, table#speciestable
  :padding 30px 0
  thead
    th
      :background-color #60B9CE
      :border-color #60B9CE !important
      :cursor pointer
      :font-weight bold 
      :padding-left 20px
      :border-right 1px solid #dad9c7
  tbody
    tr.selected
      :background #C0F73E
    tr.hover
      :color #FF0700
      a
        :color #FF0700
      
table#taxatable .header, table#speciestable .header
  :background-image url(/images/table_bg.gif)
  :background-repeat no-repeat
  :background-position center left

table#taxatable .headerSortUp, table#speciestable .headerSortUp
  :background-image url(/images/table_asc.gif)
  :background-repeat no-repeat
  :background-position center left
  
table#taxatable .headerSortDown, table#speciestable .headerSortDown
  :background-image url(/images/table_desc.gif)
  :background-repeat no-repeat
  :background-position center left


