// Main Structure
body
  :background-color #fbfbfb

  #main
    +container
    :position relative
    :margin-bottom 65px
    #data
      :margin-top 1em
      :text-align center
        
    #uiheader
      :margin-bottom 1.25em
      
    h1
      :margin-bottom -4px
      
    #flash
    #content
      table
        :margin 0
        :width auto !important
        td.permalink
          :font-weight 600
          :font-size 1.5em
    #footer
      :clear both
      :margin-top 1em
      a
        :vertical-align middle
// Component Styles
.spinner
  :display none

.button_row
  :margin-top 1em
    
form
  +blueprint-form
  .fieldWithErrors
    :display inline
    input
      :border 1px solid red
  // various form element changes
  #user_openid_identifier.title
    :width 600px
  
.form_input
  :margin-bottom 1em
  
// Visual Fixes

/* new clearfix from perishablepress.com */
.clearfix:after
  :visibility hidden
  :display block
  :font-size 0
  :content " "
  :clear both
  :height 0
  
// Grayable background for pop-ups
#backgroundGray
  :display none
  :position fixed
  // hack for internet explorer 6  
  _position: absolute 
  :height 100%
  :width 100%
  :top 0
  :left 0
  :background black
  :border 1px solid #cecece
  :z-index 1
  :opacity 0.8
  
#popup
  :display none
  :position fixed
  // hack for internet explorer 6  
  _position: absolute
  :height 200px
  :width 700px
  :z-index 2
  h2, h3, h4
    :color white !important

