// Main Structure
body
  :background-color $background-color

  #main
    +container
    :position relative
    :margin-bottom 65px
    #data
      :margin-top 1em
      :text-align center
        
    #uiheader
      :margin-bottom 1.25em
      
    #flash
    #content
      table
        :margin 0
        :width auto !important
        td.permalink
          :font-weight 600
          :font-size 1.5em
    #footer
      :clear both
      :margin-top 1em
      a
        :vertical-align middle
        
        
// Static pages like Home and Contribute
.home
  #screencast
    +column(24)
    +last
    :margin-top 12px
    
  #introduction
    +column(24)
    +last 
    :margin-top 12px
    
    div
      +column(6)
    .start
      +last
      :text-align right
      :padding-top 24px
  
  #logotronic
    +column(24)
    +last
    :padding-top 2em
    
    img
      :padding-right 20px
      
.contribute
  #login_or_signup
    +column(24)
    +last
    :padding-top 2em
    
    h2
      margin-bottom: 12px
    
    #login
      +column(8)
      +colborder(#e5e5e5)
      
      
    #signup
      +column(15)
      +last

.users.new      
  form
    +column(8)
    :padding-top 2em

// Component Styles
.spinner
  :display none

.button_row
  :margin-top 1em
    

// Visual Fixes

/* new clearfix from perishablepress.com */
.clearfix:after
  :visibility hidden
  :display block
  :font-size 0
  :content " "
  :clear both
  :height 0
  
// Grayable background for pop-ups
#backgroundGray
  :display none
  :position fixed
  // hack for internet explorer 6  
  _position: absolute 
  :height 100%
  :width 100%
  :top 0
  :left 0
  :background black
  :border 1px solid #cecece
  :z-index 1
  :opacity 0.8
  
#popup
  :display none
  :position fixed
  // hack for internet explorer 6  
  _position: absolute
  :height 200px
  :width 700px
  :z-index 2
  h2, h3, h4
    :color white !important

