#taxonomic_selector
  :margin 20px 0
  :min-height 2em
  :list-style none
  :width 100%
  :padding 0
  label
    :padding-bottom 0.5em
  br
    :display none
  li
    :display block
    :margin-right 5px
    :float left
    label
      :display block
    input
      :display block
