%h2 Adding Birth Weight

- form_for :birth_weight, :url => { :action => :create } do |f|
  .form_input
    = f.label :value, "Birth weight"
    %br
    = f.text_field :value, :class => "text", :style => "width: 50px"
    = f.select :units, options_for_select(["Grams", "Kilograms"], @birth_weight.units)
  
  .form_input
    %button{:type => "submit", :name => "commit", :value => "Create", :class => 'button positive', :id => "create-birth-weight"} Add Birth Weight
    = link_to "Cancel", @species