%h1#scientific_name= @species.name
%h2 Add Birth Weight

- form_for :birth_weight, :url => { :action => :create } do |f|
  = render :partial => "form", :locals => {:f => f}
  
  .form_input
    %button{:type => "submit", :name => "commit", :value => "Create", :class => 'button positive', :id => "create-birth-weight"} Add Birth Weight
    = link_to "Cancel", @species, :class => "cancel"