%table
  %tr
    %th Common Name
    %th Options
  - @species.each do |species|
    %tr
      %td= link_to species.name, species
      %td
        = link_to "Edit", edit_species_path(:id => species.id)