= render :partial => "/shared/header", :locals => { :title => "LifeViz", :subtitle => "Please browse the species below.", :flash => flash }

%span#nav_spinner.spinner &nbsp
%ul#taxonomic_selector.clearfix
  = taxon_dropdowns(@taxon, @taxon_ancestry)
#graph{:taxon_id => @taxon.id}
%span#graph_spinner.spinner
%span#species_spinner.spinner
#species
  = render :partial => "table"