= render :partial => "/shared/header", :locals => { :title => "LifeViz", :subtitle => "Please browse the species below.", :flash => flash }
= render :partial => "/taxonomy_navigation/dropdowns"

#species
  = render :partial => "table"

= (link_to "New Species", new_species_path, :class => "button") if current_user
