= render :partial => "/shared/header", :locals => { :title => @species.name, :subtitle => "", :flash => flash }

.detail Latin Name
%h2= @species.name

.detail Common Name
%h2= @species.age.synonyms

= (link_to "Edit this species", edit_species_path(@species), :class => "button") if current_user
