= render :partial => "/shared/header", :locals => { :title => "Show Species", :subtitle => "", :flash => flash }

%h2 Scientific Name: Homo Sapiens
%h3 Common Name: Humans
%h3 Synonyms: People, Dudes, Dudettes
