%h1
  Edit My Account
- form_for @user do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  %button{:type => "submit", :name => "commit", :value => "Save", :class => 'button positive'} Save
%br