- if flash[:notice]
  .notice= flash[:notice]
- if flash[:success]
  .success= flash[:success]
- if flash[:karma_increased]
  .success= flash[:karma_increased]
- if flash[:failure]
  .failure= flash[:failure]
