%p
  = link_to "Privacy Policy.", "/privacy_policy"
  &copy; #{Time.now.year}, #{link_to "Marine Biological Laboratory", "http://www.mbl.edu/"}.
  Built by #{link_to "West Arete", "http://www.westarete.com"}.
