%table.uiheader
  %tr
    %td
      #header
        %h2
          LifeViz
    %td{:style => "text-align:right"}
      %h3
        Karma [34] (Contributor)
        |
        Log in
        |
        Sign up
#flash
  = render :partial => "/shared/flash", :locals => { :flash => flash }
