#karma-widget
  / #karma-tabs
  /   %ul
  /     %li
  /       %a{:href => "#buckets"}Buckets
  /     %li
  /       %a{:href => "#achievements"}Achievements

  #buckets
    %table
      %tr
        %th Animals
        %td 4
      %tr
        %th Plants
        %td 3
      %tr
        %th
          %h3 Karma
        %td 7
    
  #achievements
    %h2 Bronze!
  