- content_for :include_javascript do
  %script{:type => 'text/javascript+protovis'}
    :plain
      var li = $(this).parent(); // used to track which rank is shown
      var taxon_id = $('#graph').attr('taxon_id');
      updateData();
      
      // The units and dimensions to visualize, in order.
      var units = {
        "Avg. Lifespan":    {name: "lifespan", unit: " days"},
        "Avg. Birth Weight":   {name: "birth weight", unit: " g"},
        "Avg. Adult Weight":   {name: "adult weight", unit: " g"},
        "Avg. Litter Size":    {name: "litter size", unit: ""}
      }

      var dims = pv.keys(units);

      /* Sizing and scales. */
      var w = 820,
          h = 420,
          x = pv.Scale.ordinal(dims).splitFlush(0, w),
          y = pv.dict(
                dims,
                function(t) pv.Scale.linear(
                  data.filter( function(d) !isNaN(d[t]) ),
                  function(d) Math.floor(d[t]),
                  function(d) Math.ceil(d[t])
                ).range(0, h)
              ),
          c = pv.dict(dims, function(t) pv.Scale.linear(
                data.filter(function(d) !isNaN(d[t])),
              function(d) Math.floor(d[t]),
              function(d) Math.ceil(d[t])
              ).range("#015367", "#60B9CE"));
      
      /* Interaction state. */
      var filter =  pv.dict(
                      dims, function(t) {
                        return {
                          min: y[t].domain()[0],
                          max: y[t].domain()[1]
                        };
                      }
                    ), active = "Avg. Lifespan";

      // root container
      var vis = new pv.Panel()
          .width(w)
          .height(h)
          .left(30)
          .right(30)
          .top(30)
          .bottom(20)
          .canvas('graph'); // where to put it

      // The parallel coordinates display - thin lines.
      vis.add(pv.Panel)
          .data(function() data)
          .visible(function(d) dims.every(function(t)
              (d[t] >= filter[t].min) && (d[t] <= filter[t].max)))
        .add(pv.Line)
          .data(dims)
          .left(function(t, d) x(t))
          .bottom(function(t, d) y[t](d[t]))
          .strokeStyle("#ddd")
          .lineWidth(1)
          .antialias(false);

      // Rule per dimension.
      rule = vis.add(pv.Rule)
          .data(dims)
          .left(x);

      // Dimension label
      rule.anchor("top").add(pv.Label)
          .top(-12)
          .font("bold 10px sans-serif")
          .text(function(d) units[d].name);

      // The parallel coordinates display - thicker lines from being filtered.
      var change = vis.add(pv.Panel);

      var line = change.add(pv.Panel)
          .data(function() data)
          .visible(function(d) dims.every(function(t)
              (d[t] >= filter[t].min) && (d[t] <= filter[t].max)))
        .add(pv.Panel)
          .def("active", false)
        .add(pv.Line)
          .data(dims)
          .left(function(t, d) x(t))
          .bottom(function(t, d) y[t](d[t]))
          .strokeStyle(function(t, d) d["Hover"] == "X" ? "#FF0700" : d["Select"] == "X" ? "#C0F73E" : (c[active](d[active])))
          .lineWidth(4)
          .event("mouseover", function(d) this.parent.active(true) )
          .event("mouseout", function(d) this.parent.active(false) )
          ;

      // Updater for slider and resizer.
      function update(d) {
        var t = d.dim;
        filter[t].min = Math.max(y[t].domain()[0], y[t].invert(h - d.y - d.dy));
        filter[t].max = Math.min(y[t].domain()[1], y[t].invert(h - d.y));
        active = t;
        change.render();
        return false;
      }

      // Updater for slider and resizer.
      function selectAll(d) {
        if (d.dy < 3) {
          var t = d.dim;
          filter[t].m.max(y[t].domain()[0], y[t].invert(0));
          filter[t].max = Math.min(y[t].domain()[1], y[t].invert(h));
          d.y = 0; d.dy = h;
          active = t;
          change.render();
        }
        return false;
      }

      /* Handle select and drag */
      var handle = change.add(pv.Panel)
          .data(dims.map(function(dim) { return {y:0, dy:h, dim:dim}; }))
          .left(function(t) x(t.dim) - 30)
          .width(60)
          .fillStyle("rgba(0,0,0,.001)")
          .cursor("crosshair")
          .event("mousedown", pv.Behavior.select())
          .event("select", update)
          .event("selectend", selectAll)
        .add(pv.Bar)
          .left(25)
          .top(function(d) d.y)
          .width(10)
          .height(function(d) d.dy)
          .fillStyle(function(t) t.dim == active
              ? c[t.dim]((filter[t.dim].max + filter[t.dim].min) / 2)
              : "hsla(0,0,50%,.5)")
          .strokeStyle("white")
          .cursor("move")
          .event("mousedown", pv.Behavior.drag())
          .event("dragstart", update)
          .event("drag", update);

      handle.anchor("bottom").add(pv.Label)
          .textBaseline("top")
          .text(function(d) filter[d.dim].min.toFixed(0) + units[d.dim].unit);

      handle.anchor("top").add(pv.Label)
          .textBaseline("bottom")
          .text(function(d) filter[d.dim].max.toFixed(0) + units[d.dim].unit);
      
      vis.render();

  :javascript
    function updateData() {
      data = $.table("#taxatable").objs();
    function clearTableSelections() {
      $('#taxatable .taxon.selected').each(function(index, row) {
        toggleSelected(row);
      });
    };

    function toggleSelected(row) {
      var taxon_id = $(row).attr("taxon_id");
      $(row).toggleClass("selected");
      $(row).toggleX(".select");
      updateData();
    };

    function toggleHovered(row) {
      var taxon_id = $(row).attr("taxon_id");
      $(row).toggleClass("hover");
      $(row).toggleX(".hover");
      updateData();
    };

    function toggleParameter(parameter, value) {
      if ($.inArray(parameter, $.address.parameterNames()) == -1) {
        $.address.parameter(parameter, value, true)
      } else {
        $.address.parameter(parameter, null, true)
      }
    };

    // jQuery plugin function to toggle an "X" in a table cell.
    $.fn.toggleX = function(selector) {
      td = $(this).children(selector);
      if (td.html() == "X") {
        td.html("");
      } else {
        td.html("X");
      }
    };

    $(document).ready(function() {

      // Pre-highlight any rows determined by the parameters.
      $.address.change(function (){
      clearTableSelections();
        $.each($.address.parameterNames(), function(index, value) {
          highlight = value.match(/\d+$/)[0]
          row = $('#taxatable .taxon[taxon_id~=value]'.replace('value', highlight));
          toggleSelected(row);
        });
      });


      // Taxonomy dropdown navigation.
      $('#taxonomic_selector select').live('change', function(){
        window.open(("../" + this.options[this.selectedIndex].value), '_top');
      });

      // Make the table sortable.
      $("#taxatable").tablesorter();

      // Turn the table into a 'table' object, used by that jQuery plugin for turning it into data.
      $("#taxatable").table();

      // If table row is clicked, highlight it and the corresponding line in the graph.
      $('#taxatable tr.taxon').click(function(){
        toggleSelected(this);
        toggleParameter("highlight_" + $(this).attr("taxon_id"), "true");
        vis.render();
      });

      // If table row is hovered, highlight it and the corresponding line in the graph.
      $('#taxatable tr.taxon').hover(function() {
        toggleHovered(this);
        // If you're comparing me to the above callback... I don't save hovered information in the params. :-)
        vis.render();
      });

    })


%ul#taxonomic_selector.clearfix
  = taxon_dropdowns(@taxon, @taxon_ancestry)
#data
  #graph{:taxon_id => @taxon.id}
  #taxa
    = render :partial => "table"
