%h1 Welcome to LifeViz

#screencast
  %iframe{:frameborder => "0", :height => "404", :src => "http://player.vimeo.com/video/22461506?title=0&amp;byline=0&amp;portrait=0&amp;color=d41B7D", :width => "950"}
  
#introduction
  .macroscope
    %h2 Macroscope
    %p LifeViz is a macroscope, that expands your field of view across the tree of life.  An interactive graph gives you the big picture across the tree of life so you can see trends that emerge from the data and easily find surprising outliers.  Complex and far reaching data is displayed in a useful easy to navigate way. 
  .contribute
    %h2 Contribute Data
    %p LifeViz thrives because of the quality and quantity of contributed data.  Researchers can contribute data about a specific species and increase the overall value of LifeViz.  Contributors gain Karma points for sharing their data and the LifeViz community benefits from stellar data access with full source and citation information. 
  .bhl_data
    %h2 Biodiversity Heritage Library
    %p LifeViz is the online home of lifespan data from the Biodiversity Heritage Library that was mined using natural language processing algorithms.  LifeViz is the first graph-based repository of this data and brings an increased accessibility to previously hard to find data. 
  .start
    = link_to 'Start Exploring!', taxon_path(:rank => 'class', :taxon => 'Mammalia'), :class => 'button giant'

#logotronic
  =link_to image_tag('logo_boa.gif',     :alt => 'Logo of the Biology of Aging Project'),   'http://www.biologyofaging.org/',   :class=>"img_link external_link", :target=>'_blank'
  =link_to image_tag('logo_ellison.gif', :alt => 'Logo of the Ellison Medical Foundation'), 'http://www.ellisonfoundation.org', :class=>"img_link external_link", :target=>'_blank' 
  =link_to image_tag('logo_mblwhoi.gif', :alt =>'Logo of the MBL-WHOI Library'),            'http://www.mblwhoilibrary.org/',   :class=>"img_link external_link", :target=>'_blank'
