%h1 LifeViz

.content
  #introduction
    %p LifeViz offers users a macroscope that expands your field of view as opposed to contracting it.  An interactive graph gives you the big picture across the tree of life so you can see trends that emerge from the data and easily find surprising outliers.  Complex and far reaching data is displayed in a useful easy to navigate way. 
    %p LifeViz thrives because of the quality and quantity of contributed data.  Researchers can contribute data about a specific species and increase the overall value of LifeViz.  Contributors gain Karma points for sharing their data and the LifeViz community benefits from stellar data access with full source and citation information. 
    %p LifeViz is the online home of lifespan data from the Biodiversity Heritage Library that was mined using natural language processing algorithms.  LifeViz is the first graph-based repository of this data and brings an increased accessibility to previously hard to find data. 
  #screencast
    = image_tag "http://placekitten.com/g/470/350"