%h1 Privacy Policy

%h2 Visitors
%p LifeViz collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Our purpose in collecting non-personally identifying information is to better understand how visitors use LifeViz.
%p LifeViz also collects potentially personally-identifying information like Internet Protocol (IP) addresses. LifeViz does not use such information to identify its visitors, however, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below.

%h2 Personally-Identifying Information
%p You may choose to interact with the LifeViz in ways that require us gather personally-identifying information. We ask visitors who sign up to update or comment on data to provide a username and email address. LifeViz collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor’s interaction. LifeViz does not disclose personally-identifying information other than as described below.

%h2 What do we use your information for?
%p Any of the information we collect from you may be used in one of the following ways:
%ul
  %li To personalize your experience
  %li To improve our website
  %li To improve customer service
  %li To process transactions

%p Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent.
%p The email address you provide to create your account may be used to send you information and updates pertaining to your interaction with the site.
%p 
  %strong Note:
  If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.

%h2 Links to Third Party Sites
%p This Privacy Policy only applies to information collected by LifeViz. This Privacy Policy does not apply to the practices of groups or companies that own sites that visitors may go to via external sites.

%h2 Security
%p All non-personally-identifying information, potentially personally-identifying and personally identifying-information described above is stored on restricted database servers.

%h2 Cookies
%p Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information
%p We use cookies to understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.

%h2 Contact Us
%p If you have any questions about this policy or our site in general, please contact us at #{link_to "hmiller@mbl.edu", "mailto:hmiller@mbl.edu"}.

