
# PostgreSQL development database setup. This configuration presumes that you 
# have a database user set up with the same name as your login, and it doesn't
# require a password.

development:
  adapter: postgresql
  database: lifeviz_development
  
full_set:
  adapter: postgresql
  database: lifeviz_production

test: &TEST
  adapter: postgresql
  database: lifeviz_test<%=ENV['TEST_ENV_NUMBER']%>

cucumber:
  <<: *TEST
