%h2 Editing Litter Size

- form_for :litter_size, :url => { :action => :update }, :html => {:method => :put} do |f|
  .form_input
    = f.label :measure, "Litter size"
    %br
    = f.text_field :measure, :class => "text", :style => "width: 50px"
  
  = render :partial => "/shared/citation_form", :locals => {:f => f}

  .form_input
    %button{:type => "submit", :name => "commit", :value => "Update", :class => 'button positive', :id => "update-litter-size"} Submit Change
    = link_to "Cancel", @species, :class => "button"